__pycache__/
tmp/
*.pyc
*.pyo
*.log
*.swp
*.bak
*.tmp
*.db-journal
*.db-shm
*.db-wal
*.pid
*.sock
*.lock
*.index
*.data
*.dump
*.dump.gz
*.dump.bz2
*.dump.xz
*.dump.7z
*.dump.zip
*.dump.tar
*.dump.tar.gz
*.dump.tar.bz2

backups/
cases image/